@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #4b1cff;
  --secondary-color: #844ffe;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

.sidebar {
  grid-row: 1 / 3;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.content-projects {
  grid-row: 1 / 3;
}
