@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #4b1cff;
  --secondary-color: #844ffe;
  --box-shadow-default: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-default: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

h3,
h4 {
  margin: 0;
  padding-bottom: 15px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

.sidebar {
  grid-row: 1 / 3;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px;
  gap: 30px;
}

.content-projects {
  grid-row: 1 / 3;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(450px, 100%), 1fr));
  gap: 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-default);
  box-shadow: var(--box-shadow-default);
  padding: 30px;
  border-left: 5px solid var(--primary-color);

  text-decoration: none;
  color: inherit;
}

.card-content {
  flex: 1 0 0;
  min-width: 275px;
  align-self: flex-start;
}

.card-content p {
  margin: 0;
  padding: 10px 0;
}

.card-reactions {
  align-self: flex-end;
  margin-top: 10px;
}

.card-reactions button {
  background: none;
  border: none;
  cursor: pointer;
}

.card [src*=".svg"] {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(200deg);
}

img[src="/assets/icons/share-variant-outline.svg"] {
  rotate: 270deg;
}

.announcement-list h5 {
  margin: 0;
}

.announcement-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  box-shadow: var(--box-shadow-default);
  border-radius: var(--border-default);
}

.announcement-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.trending-users {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: var(--box-shadow-default);
  border-radius: var(--border-default);
  gap: 15px;
  padding: 30px;
}

.user-card {
  display: flex;
  align-items: center;

  & h5,
  p {
    margin: 0;
    padding: 0 8px;
  }
}

.user-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}